
.background {
    padding: 0 25px 25px;
    width: 100%;
    background: #011E41;
    margin-bottom: 8px;
    top: 0; /* Position the navbar at the top of the page */
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
