/*
*    LOG-IN BOX
*/
div.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    /*background:#00aeef;*/
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    overflow-y: auto;
    top: 0;
    width: 100%;
    z-index: 998;

}

div.overlay > div.login-wrapper {
    align-self: center;
    border-radius: 2px;
    padding: 0px;
    width: 450px;
    border-style: solid;
    border-image: -webkit-linear-gradient(right, rgb(0, 174, 239) 0%, transparent 50%) 10 10 stretch stretch;
    border-image: -moz-linear-gradient(left, rgb(0, 174, 239) 0%, transparent 50%) 10 10 stretch stretch;
    border-image: -ms-linear-gradient(top, rgb(0, 174, 239) 0%, transparent 50%) 10 10 stretch stretch;
    border-image: -o-linear-gradient(top, rgb(0, 174, 239) 0%, transparent 50%) 10 10 stretch stretch;
    border-image: linear-gradient(top, rgb(0, 174, 239) 0%, transparent 50%) 10 10 stretch stretch;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;


}

div.overlay > div.login-wrapper > div.login-content {
    background-color: rgba(250, 250, 250, 1);
    border-radius: 2px;
    padding: 24px;
    position: relative;

}

h3 {
    text-align: center;
    color: #071f42;
    /*font-weight: bold;*/
    font-family: 'Varela Round', sans-serif;
    font-size: 1.8em;
    margin: 0 0 1.25em;
    padding: 0;
}

div.overlay > div.login-wrapper > div.login-content > {
    color: rgb(0, 0, 0);
    font-family: 'Varela Round', sans-serif;
    font-size: 1.8em;
    margin: 0 0 1.25em;
    padding: 0;

}


/*
*    FORM
*/
form a {
    color: #196a7f;
}

form a:hover {
    color: #00087F;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
    /*form input[type="search"],*/
form input[type="password"],
form textarea {
    background-color: rgb(255, 255, 255);
    border: 1px solid #196a7f !important;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    display: block;
    font-size: 0.8em;
    margin: 6px 0 12px 0;
    padding: auto;
    /*text-shadow: 0 1px 1px rgba(255, 255, 255, 1);*/
    transition: all 400ms ease;
    width: 100%;
    height: 35px;
    padding-left: 5px;
}


form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="password"]:focus,
form textarea:focus,
form select:focus {
    border-color: #071f42;
    box-shadow: inset 0 1px 1px rgba(0, 174, 239, 0.1), 0 0 8px #4195fc;

}

form input[type="text"]:invalid:focus,
form input[type="email"]:invalid:focus,
form input[type="number"]:invalid:focus,
form input[type="search"]:invalid:focus,
form input[type="password"]:invalid:focus,
form textarea:invalid:focus,
form select:invalid:focus {
    border-color: #071f42;
    box-shadow: inset 0 1px 1px rgba(0, 174, 239, 0.1), 0 0 8px rgb(0, 174, 239);
}

form button {
    background-color: #00aeef;
    border: 1px solid rgba(0, 174, 239, .1);
    color: rgb(255, 255, 255);
    font-family: 'Varela Round', sans-serif;
    font-size: .85em;
    padding: .55em .9em;
    transition: all 400ms ease;
    position: relative;
    display: flex;
    justify-content: center !important;
    height: 33px;
    width: auto;
}

form#serviceForm button {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

form .ui-widget button {
    background-color: #00aeef;
    border: 1px solid rgba(0, 174, 239, .1);
    color: rgb(255, 255, 255);
    font-family: 'Varela Round', sans-serif;
    font-size: .85em;
    padding: .55em .9em;
    transition: all 400ms ease;
    position: absolute;
    left: 88%;
    margin-top: -33px;
    display: flex;
    justify-content: center !important;
    height: 30px;
    width: 30px;
}

form button:hover {
    background-color: #071f42;
    cursor: pointer;
}

form label {
    color: rgb(0, 0, 0);
    display: block;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.25em;
    margin: .75em 0;
}

/************** apparition texte login**********/
/* Infobulle */

/*a span{
    position:absolute;
}
a span{
    margin-top:23px;
    margin-left:-80px;
    color: #f5a918;
    /* background-color: #196a7f; */
/* background-color: rgba(25, 106, 127, 0.9);
padding:10px;
border-radius:3px;
box-shadow:0 0 2px rgba(0,0,0,.5);
transform:scale(0) rotate(-12deg);
transition:all .25s;
opacity:0;
font-size: 0.9em;
}
a:hover span, a:focus span{
transform:scale(1) rotate(0);
opacity:1;
}*/

#main {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 500px;
    margin-left: -250px; /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: -250px; /* Cette valeur doit être la moitié négative de la valeur du height */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

#back {
    position: absolute;
    left: 0%;
    top: 85%;
}

a.close {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    color: #00aeef;
    display: block;
    font-family: 'Varela Round', sans-serif;
    font-size: .9em;
    padding: .2em .5em;
    position: absolute;
    top: 1.25rem;
    transition: all 400ms ease;
    right: 1.25rem;
    z-index: 999;
    opacity: 0.8;
}

a.close:hover {
    background-color: #00aeef;
    cursor: pointer;
}
