.search-content {
    width: 100%;
    background: slategray;
    position: relative;
}

.search-content .sbx-amazon {
    display: block;
    position: relative;
    margin: 8px;
    float: right;
    width: 60%;
    height: 39px;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 14px;
}

.search-content-transparent .sbx-amazon {
    display: block;
    position: relative;
    margin: 8px;
    float: right;
    width: 60%;
    height: 39px;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 14px;
}

.sbx-amazon__wrapper {
    width: 100%;
    height: 100%;
}

.sbx-amazon__input {
    display: inline-block;
    -webkit-transition: box-shadow .4s ease, background .4s ease;
    transition: box-shadow .4s ease, background .4s ease;
    border: 0;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #FFFFFF;
    background: #FFFFFF;
    padding: 0;
    padding-right: 75px;
    padding-left: 11px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sbx-amazon__input::-webkit-search-decoration, .sbx-amazon__input::-webkit-search-cancel-button, .sbx-amazon__input::-webkit-search-results-button, .sbx-amazon__input::-webkit-search-results-decoration {
    display: none;
}

.sbx-amazon__input:hover {
    box-shadow: inset 0 0 0 1px #e6e6e6;
}

.sbx-amazon__input:focus, .sbx-amazon__input:active {
    outline: 0;
    box-shadow: inset 0 0 0 1px #00AEEF;
    background: #FFFFFF;
}

.sbx-amazon__input::-webkit-input-placeholder {
    color: #AAAAAA;
}

.sbx-amazon__input::-moz-placeholder {
    color: #AAAAAA;
}

.sbx-amazon__input:-ms-input-placeholder {
    color: #AAAAAA;
}

.sbx-amazon__input::placeholder {
    color: #AAAAAA;
}

.sbx-amazon__submit {
    position: absolute;
    top: 0;
    right: 0;
    left: inherit;
    margin: 0;
    border: 0;
    border-radius: 0 3px 3px 0;
    background-color: #00AEEF;
    padding: 0;
    width: 47px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sbx-amazon__submit::before {
    display: inline-block;
    margin-right: -4px;
    height: 100%;
    vertical-align: middle;
    content: '';
}

.sbx-amazon__submit:hover, .sbx-amazon__submit:active {
    cursor: pointer;
}

.sbx-amazon__submit:focus {
    outline: 0;
}

.sbx-amazon__submit svg {
    width: 21px;
    height: 21px;
    vertical-align: middle;
    fill: white;
}

.sbx-amazon__reset {
    display: none;
    position: absolute;
    top: 9px;
    right: 54px;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    fill: rgba(0, 0, 0, 0.5);
}

.sbx-amazon__reset:focus {
    outline: 0;
}

.sbx-amazon__reset svg {
    display: block;
    margin: 4px;
    width: 13px;
    height: 13px;
}

.sbx-amazon__input:valid ~ .sbx-amazon__reset {
    display: block;
    -webkit-animation-name: sbx-reset-in;
    animation-name: sbx-reset-in;
    -webkit-animation-duration: .15s;
    animation-duration: .15s;
}

@-webkit-keyframes sbx-reset-in {
    0% {
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes sbx-reset-in {
    0% {
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@media screen and (max-width: 765px) {
    .search-content .sbx-amazon {
        position: relative;
        width: 90%;
        margin: 8px;
        white-space: nowrap;
        box-sizing: border-box;
        font-size: 14px;
    }

    .search-content-transparent .sbx-amazon {
        display: block;
        position: relative;
        margin: 8px;
        float: right;
        width: 90%;
        height: 39px;
        white-space: nowrap;
        box-sizing: border-box;
        font-size: 14px;
    }
}

