/* Tablet and bigger */
@media ( min-width: 780px ) {
    .grid-divider {
        position: relative;
        padding: 0;
        width: 100% auto;
    }

    .grid-divider > [class*='col-'] {
        position: static;
    }

    .grid-divider > [class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 0;
        bottom: 0;
    }

    .col-padding {
        padding: 0 15px;
    }

    h5 {
        font-weight: bold;
        color: #011e41;
    }

    h4 {
        font-weight: bold;
        color: #555;
    }

}

