body {
    margin-top: 40px;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

#frm {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-width: 400px;
    border: 1px solid silver;
    borer-radius: 2px;
    padding: 2%;
    font-family: vedana;
    height: 70%;
    overflow: auto;
}

#saisis {
    height: 100px;
    max-width: 100%;
    width: 95%;
    overflow: auto;
}

#saisis tr {
    height: 40px;
    width: 100%;
    padding-left: 10px;
    font-family: verdana;
    font-size: 17;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 100px;
}
