* {
    box-sizing: border-box;
}

h2, p, div {
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: bold;
}

div.more {
    display: none;
    margin: 10px 0 0 0;
    padding: 10px;
    background-color: #eee;
    position: relative;
}

div.more.visible {
    display: block;
}

div.more li {
    list-style: none;
    line-height: 1.4em;
    font-size: 90%;
}

div.more .close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #c0c7d4;
    cursor: pointer;
}

.search-result {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.search-result.new-job {
    border-left: 5px solid #000080;
}

.search-result.new-job .badge {
    position: absolute;
    bottom: 10px;
    right: 15px;
    padding: 5px 10px;
    border-radius: 15px;
    border: 2px solid #000080;
    background-color: rgba(0, 174, 239, 0.2);
    color: #000080;
}

.search-result h5, h1, h6, h4, h2 {
    color: #288cfc;
}

.search-result a {
    text-decoration: none;
    color: #248afa;
}

.search-result .icon {
    margin: 0 15px 0 0;
}

.search-result .reviews {
    color: #00AEEF;
}

.search-result .actions {
    color: #c0c7d4;
    margin-top: 10px;
    font-size: 90%;
}

.search-result span {
    margin-right: 10px;
}

.search-result div > div p {
    color: darkslategray;
    margin-top: 5px;
}

.search-result .company, .search-result .stars, .search-result .reviews {
    font-size: 110%;
    margin-right: 0 !important;
    margin-top: 5px !important;
}


.search-result .stars-inner {
    display: inline-block;
    height: 16px;
    width: 86px;
    background: url(https://www.indeed.com/cmp/_s/s/40b77a6/5stars_lg.png) 0 17px;
    background-size: 85px 32px;
}

.text-bomb {
    display: inline-block;
}

.text-animated {
    -webkit-animation: gearup 0.92s; /* Chrome, Safari, Opera */
    animation: gearup 0.92s;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes gearup {
    0% {
        -webkit-transform: scale(1, 1) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }
    15% {
        -webkit-transform: scale(1, 1) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }
    25% {
        -webkit-transform: scale(1.25, 1.25) rotate(-1deg);
        transform: scale(1.25, 1.25) rotate(-1deg);
    }
    35% {
        -webkit-transform: scale(1, 1) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }
    65% {
        -webkit-transform: scale(1, 1) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }
    75% {
        -webkit-transform: scale(1.25, 1.25) rotate(1deg);
        transform: scale(1.25, 1.25) rotate(1deg);
    }
    85% {
        -webkit-transform: scale(1, 1) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }
    100% {
        -webkit-transform: scale(1, 1) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }
}

/* Standard syntax */
@keyframes gearup {
    0% {
        -webkit-transform: scale(1, 1) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }
    15% {
        -webkit-transform: scale(1, 1) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }
    25% {
        -webkit-transform: scale(2, 2) rotate(-10deg);
        transform: scale(2, 2) rotate(-10deg);
    }
    35% {
        -webkit-transform: scale(1, 1) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }
    65% {
        -webkit-transform: scale(1, 1) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }
    75% {
        -webkit-transform: scale(2, 2) rotate(10deg);
        transform: scale(2, 2) rotate(10deg);
    }
    85% {
        -webkit-transform: scale(1, 1) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }
    100% {
        -webkit-transform: scale(1, 1) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }
}


