body, html {
    min-height: 100%;
    width: 100%;
    background: #f2fbff;
}

.term_m_b {
    font-weight: bold;
    margin: 1em 0;
}

.custom-header {
    background-color: #011e41;
    box-sizing: border-box;
    border: 0;
    border-radius: 0;
    border-bottom: 5px solid #a7a9ac;
    width: auto;
    display: block;
    z-index: 1;
}

.custom-header a.navbar-brand.navbar-link {
    color: #fff;
    font: normal 28px Cookie, Arial, Helvetica, sans-serif;
    line-height: 0.5;
    /* margin:auto;*/
    background: none;

}


.custom-header a.navbar-brand.navbar-link span {
    color: #2874f0;
}

.custom-header ul.nav.navbar-nav.links li a {
    font: 14px Arial, Helvetica, sans-serif;
    opacity: 0.9;
    text-decoration: none;
    color: #fff;
    background: #011e41;
    /* border-right:1px dotted #fff;*/

}

.droite li a {
    font: 14px Arial, Helvetica, sans-serif;
    opacity: 0.9;
    text-decoration: none;
    color: #fff;
    background: #011e41;
    color: #fff;
    padding: 8px 14px;
    background: #071f42;
    opacity: 0.9;
    border: 0;
    margin: 0;
    /* border-right:1px dotted #fff;*/

}

.custom-header ul.nav.navbar-nav.links {
    display: block;
}


.custom-header ul.nav.navbar-nav.links li {
    text-justify: constante;
    text-justify: inter-word;
    width: auto;
    display: block;
}


.custom-header ul.nav.navbar-nav li a.active {
    opacity: 1;
    color: #00aeef;
}

.custom-header ul.nav.navbar-nav li a:hover {
    opacity: 1;
    color: #00aeef;
}

.custom-header ul.nav.navbar-nav li a {
    font: 14px Arial, Helvetica, sans-serif;
    opacity: 0.9;
    text-decoration: none;
    color: #fff;
    background: #011e41;
}

.custom-header .badge {
    position: absolute;
    top: 4px;
    border-radius: 2px;
    font-size: 11px;
    color: #fff;
    background-color: #000080;
    padding: 2px 4px;
    font-weight: normal;
}

.custom-header li.dropdown, .custom-header li.dropdown.open {
    background: #071f42;
}

.custom-header li.dropdown .dropdown-toggle {
    border-radius: 2px;
    color: #fff;
    padding: 14px;
    background: #071f42;
    opacity: 0.9;
    border: 0;
    margin: 0;
}

.custom-header li.dropdown .dropdown-toggle:focus, .custom-header li.dropdown .dropdown-toggle:hover, .custom-header li.dropdown .dropdown-toggle:active {
    background: #071f42;
    color: #00aeef;
}

.custom-header ul.nav.navbar-nav.navbar-right .dropdown li a {
    font: normal 13px Arial, Helvetica, sans-serif;
    padding: 10px 15px;
}

img.dropdown-image {
    border-radius: 10%;
    width: 32px;
    margin-left: 10px;
}

.custom-header .dropdown ul {
    background-color: #071f42;
    border: 0;
    min-width: 140px;
}

.custom-header .dropdown ul li {
    display: block;
}

.custom-header .dropdown ul li a {
    background: #071f42;
    border-radius: 2px;
    color: #fff;
    padding: 5px;
}

.custom-header .dropdown ul li a:active, .custom-header .dropdown ul li a:focus, .custom-header .dropdown ul li a:hover {
    background: #071f42;
    color: #00aeef;
!important;
}

.custom-header .dropdown ul li.active a {
    color: #00aeef;
}


.custom-header {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    width: 100%;
}

.custom-header li {
    display: inline;
    list-style: none; /* nécessaire pour IE7 */
}

.custom-header a {
    display: inline-block;
    margin: auto;
}


.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
}

.card .card-image span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
    position: relative;
    overflow: hidden;
}

.card .card-image img {
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    z-index: -1;
}

.card .card-image span.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
}

.card .card-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
    background: #fff;
    color: #00aeef;
}

.card .card-content p {
    margin: 0;
}

.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px;
    background: #fff;
}

.card .card-action a {
    color: #00aeef;
    margin-right: 16px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.card .card-action a:hover {
    color: #00aeef;
    text-decoration: none;
}

div.jumbotron.hero-technology {
    color: #fff;
    text-align: center;
    background: none;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1.hero-title, h2.hero-title, h3.hero-title {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    color: #333;
    font-weight: 500;
}

p.hero-subtitle {
    max-width: 600px;
    margin: 0px auto;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    font-weight: 500;
}

#footer {
    background-color: #061f42;
    /*box-shadow:0 1px 1px 0; rgba(0, 0, 0, 0.12);*/
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: 14px sans-serif;
    padding-bottom: 10px;
    bottom: 0;
    color: #fff;
    border-top: 1px solid #6d6e70;
    z-index: 1;
    position: relative;
    left: 0;
    right: 0;
}

#footer .widget-title {
    margin: 5px;
    padding: 10px 5px 10px;
    border-bottom: medium none;
}

#footer h4 {
    color: #FFF;
    font: bold 16px Arial, Helvetica, sans-serif;
}

#footer ul {
    list-style: outside none none;
}

#footer li {
    padding: 5px 0px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    margin: 0px;
}

#footer li a {
    color: #DDD;
    /* font-size:1.5rem; */
    font: bold 13px Arial, Helvetica, sans-serif;
}

.btn-primary {
    background-color: #00aeef;
    border-color: #00aeef;
}

.btn-primary:hover {
    background-color: #58585a;
    border-color: #58585a;
}

#footer a:hover {
    color: #00aeef;
    text-decoration: none;
}

#sub-floor {
    color: #000;

    padding: 0px 0px;
}

.footer-bottom-section {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

span.new-line-span {
    display: block;
    font-weight: normal;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}


.pull-left a:hover {
    color: #00aeef;
}

.texto_grande {
    font-size: 1.5rem;
    color: #707271;
}

#icone_grande {
    font-size: 8rem;
    color: #fff;
}

.form-control {
    border-radius: 5px 5px 5px 5px;
}

select.form-control {
    margin: 5px 0 0 0;
}

.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
}

.btn-1 {
    color: #fff;
    background-image: url('../images/choix1.png') no-repeat;
    border-color: #fff;
}

.combo {
    color: #6d6e70;
    height: 30px;
    margin-left: 5px;
    margin-bottom: 7px;
    border: 1px solid #00aeef;
}

.btn-primary {
    background-color: #00aeef;
    border-color: #00aeef;
}

.btn-primary:hover {
    background-color: #58585a;
    border-color: #58585a;
}

.widget-title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

#footer-wrapper li a:hover {
    color: #00aeef;
    text-decoration: none;
}

.a-propos {
    background: url('../images/a-propos.jpg') no-repeat center center fixed;
    height: 30%;
    width: 100%;
    padding-bottom: 0%;
    margin-top: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.texte1 {

}

.texte2 {

    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: relative;
    rigth: -5px;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: justify;
    padding-left: 3em;
}


.box-right {
    padding-left: 0px;
}

.gras {
    font-style: italic;
    font-weight: bold;
}

.approche {
    background: url('../images/approche.jpg') no-repeat center center fixed;
    height: 30%;
    width: 100%;
    padding-bottom: 0%;
    margin-top: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.entreprise {
    margin: 5px;
    padding: auto;
    width: 100%;
}

.entreprise .row {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.entreprise li {
    list-style: disc;
}

.entreprise h4, h2, .slogan {
    color: #00aeef;
}

.approche h2 {
    color: #000;
    font-weight: bold;
}

.entreprise h4 {
    font-size: 1em;
}

.entreprise h4 {
    color: #000;
    padding: 5px;
}

.entreprise h4 img {
    z-index: 99;
    height: 30px;
}

/* carousel */
.media-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}

/* Previous button  */
.media-carousel .carousel-control.left {
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width: 40px;
    margin-top: 30px
}

/* Next button  */
.media-carousel .carousel-control.right {
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width: 40px;
    margin-top: 30px
}

/* Changes the position of the indicators */
.media-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li {
    background: #c0c0c0;
}

.media-carousel .carousel-indicators .active {
    background: #333333;
}

.media-carousel img {
    width: 250px;
    height: 100px
}

/* End carousel */

/* MENU HAUT */

/* Style tab links */
.tablink {
    background-color: #061f42;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 14px;
    width: 16.666667%;
}

#menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

}

#menu .tablink:active {
    color: #00aeef;

}

.tablink:hover {
    color: #00aeef;

}


/* Style the tab content (and add height:100% for full page content) */
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: black;
    display: none;
    padding: auto;
    height: 100%;
}

#Home {
    background-color: none;
}

#Propos {
    background-color: none;
}

#Approche {
    background-color: none;
}

#News {
    background-color: none;
}

#Connexion {
    background-color: none;
}

#Inscription {
    background-color: none;
}

.grid-divider {
    color: #000;
}

.droite {
    position: relative;
    text-align: right;
    right: 0px;
    color: #fff;
    padding: 5px 0px 15px 30px;
}


.video {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-bottom: 40%;
    margin-bottom: 32px;
    margin-top: 42px;
}

.video iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.error {
    display: block;
    color: red;
    font-size: 12px;
}


@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #00aeef;
    }
}


div.item-picto {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 33%;
}

.home-picto {
    width: 100px;
    height: 100px;
}

.caption {
    display: block;
    padding-bottom: 40px;
}

.checked {
    color: orange;
}

.rounded-img {
    border: 3px solid #00aeef;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    margin: 8px;
    width: 150px;
    height: 150px;
    background-size: cover;
    display: block;
    background-color: white;
}

.rounded-img-item {
    border: 1px solid #00aeef;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    margin: 8px;
    width: 100px;
    height: 100px;
    background-size: cover;
    display: block;
    background-color: white;
}

@media screen and (max-width: 767px) {
    div.item-picto {
        horiz-align: center;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    z-index: 95;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .container {
    padding-top: 191px;
}

.sticky + .search-top {
    padding-top: 55px;
}


/* LIST #3 */
.service {
}

.service ul {
    list-style-image: url("http://demo.marcofolio.net/css_lists/images/arrow.png");
    color: darkslategray;
    font-size: 14px;
}

.service ul li {
    line-height: 20px;
}

.custom-card {
    background: white;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}

input[type="file"] {
    cursor: pointer;
}

a.btn {
    color: #00aeef;
    border: 1px solid #00aeef;
    cursor: pointer;
    display: inline-block;
    font-family: 'Varela Round', sans-serif;
    font-size: .85em;
    padding: .55em .9em;
    transition: all 400ms ease;
}

a.btn:hover {
    background-color: rgba(0, 174, 239, 0.33);
    border: 2px solid #00087F;
    cursor: pointer;
}

.file-btn {
    position: relative;
}

.file-btn input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
