a {
    color: #00aeef;
    text-decoration: none;
}

a:focus {
    color: #00aeef;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: none;
}

a.text-warning:hover, a.text-warning:focus {
    color: #333;
}

.col-md-9.dashboard-padding {
    padding-right: 0;
    padding-left: 0;
}

.table.dashboard-block {
    margin-top: 10px;
}

.table.dashboard-block > tbody > tr > td {
    border: 1px solid #ddd;
}

.table.dashboard-block > tbody > tr > td h4 {
    margin: 0;
}

.table.dashboard-block > tbody > tr > td img {
    width: 40%;
    height: auto;
    background: #eee;
    border: 1px solid #ddd;
}

.table.dashboard-block > tbody > tr > td > div {
    display: block;
    height: 20px;
    overflow: hidden;
}

.table.dashboard-block > tbody > tr > td .edit-picture {
    display: block;
    float: right;
}

.table.dashboard-block > tbody > tr > td > ul {
    margin: 0;
    padding: 0;
    list-style-type: square;
    list-style-position: inside;
    color: #333;
}

.table.dashboard-block > tbody > tr > td > ul .container {
    width: 100%;
    padding-bottom: 5px;
}

.panel-body {
    padding: 0;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 15px;
    overflow-y: scroll;
    height: 450px;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 40px;
}

.chat li.right .chat-body {
    margin-right: 40px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.chat li.left .chat-body p {
    text-align: right;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.panel {
    border: none;
}

.container.chat-block {
    overflow: visible !important;
    height: auto !important;
}

.container.chat-block .col-md-12 {
    padding-right: 0;
    padding-left: 0;
}

.table.dashboard-block > tbody > tr > td .container.chat-block img {
    width: 25px;
    height: 20px;
}

.table.dashboard-block > tbody > tr > td .form-inline .form-group {
    width: 100%;
    margin-bottom: 4px !important;
}

.table.dashboard-block > tbody > tr > td .form-inline .col-md-12 {
    padding-right: 0;
    padding-left: 0;
}

.table.dashboard-block > tbody > tr > td .form-inline .control-label {
    display: inline-block;
    float: left;
    padding-top: 0px;
    font-size: 12px;
    margin: 4px 4px 0 4px !important;
    text-align: left !important;
}

.table.dashboard-block > tbody > tr > td .form-inline [type="checkbox"] {
    display: inline-block;
    float: left;
    margin: 4px 0 0 !important;
}

.table.dashboard-block > tbody > tr > td .form-inline select {
    display: inline-block;
    float: left;
    height: 25px;
    padding: 3px 12px;
    border-radius: 0;
}

.table.dashboard-block > tbody > tr > td > div.text-center {
    height: auto;
    overflow: visible;
    padding: 10px 0 0 0;
}

.table.dashboard-block > tbody > tr > td > div.text-center h3 {
    margin: 0 0 10px 0;
}

.table.dashboard-block.connect-block > tbody {
    background: #ecf5f5;
}

.table.dashboard-block.connect-block > tbody > tr > td > div.text-center {
    padding: 0;
}

.table.dashboard-block.connect-block > tbody > tr > td ul {
    list-style: none;
}

.table.dashboard-block.connect-block > tbody > tr > td ul li {
    display: flex;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.table.dashboard-block.connect-block > tbody > tr > td ul li:first-child {
    border-top: none;
    padding-top: 0;
}

.table.dashboard-block.connect-block > tbody > tr > td .col-md-8 {
    padding-top: 15px;
    padding-left: 0;
}

.table.dashboard-block.connect-block > tbody > tr > td img {
    width: 50px;
    height: 40px;
}

.table.dashboard-block.connect-block > tbody > tr > td .connect-title {
    cursor: pointer;
}

.table.dashboard-block.connect-block > tbody > tr > td .connect-title.connect-online {
    color: #55c1e7;
}

.table.dashboard-block.connect-block > tbody > tr > td .connect-icon {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: #fa6f57;
    color: #fff;
    border-radius: 50%;
}

.table.dashboard-block.connect-block > tbody > tr > td .connect-icon.connect-online {
    background: #55c1e7;
}

.table.dashboard-block.conversation-block > tbody > tr > td img {
    width: 50px;
    height: 40px;
}

.table.dashboard-block.conversation-block > tbody > tr > td .col-md-9 {
    margin-top: 32px;
    padding-left: 0;
    height: auto;
}

.table.dashboard-block.conversation-block > tbody > tr > td .form-inline .form-group {
    width: auto;
    height: 25px;
    float: right;
    margin-left: 20px;
    margin-bottom: 4px !important;
}

.table.dashboard-block.conversation-block > tbody > tr > td .form-inline [type="text"] {
    display: inline-block;
    float: left;
    height: 25px;
    padding: 3px 12px;
    border-radius: 0 10px 10px 0;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    margin: 0;
    font-size: 14px;
}

.table.dashboard-block.organisation-block > tbody > tr > td {
    border: none;
}

.table.dashboard-block.organisation-block > tbody > tr > td > div {
    height: auto;
}

.table.dashboard-block.organisation-block > tbody > tr > td ul {
    list-style: none;
    margin: 10px 0 0 10px;
    padding: 0 0 0 25px;
    color: #333;
}

.table.dashboard-block.organisation-block > tbody > tr > td ul .col-md-5, .table.dashboard-block.organisation-block > tbody > tr > td ul .col-md-7 {
    padding-right: 0;
    padding-left: 0;
}

.table.dashboard-block.organisation-block > tbody > tr > td ul.list-unstyled {
    list-style: none;
    padding: 0 0 0 25px;
}

#google-map {
    width: 60%;
    height: 150px;
}

.table.dashboard-block.organisation-block > tbody > tr > td > div.container-block {
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

.table.dashboard-block > tbody > tr > td > div.icon-title {
    height: auto;
}

.table.dashboard-block > tbody > tr > td > div.icon-title img {
    width: 30px;
    vertical-align: bottom;
    background: transparent;
    border: none;
    border-radius: initial;
}

.table.dashboard-block.organisation-block > tbody > tr > td > div .icon-title img {
    width: 30px;
    vertical-align: middle;
    background: transparent;
    border: none;
    border-radius: initial;
}

.table.dashboard-block.organisation-block > tbody > tr > td > div .social-block {
    margin-top: 30px;
}

.text-warning {
    color: #ff0000;
}

.table.dashboard-block.breadcrumb-block {
    margin-bottom: 0;
}

.table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-10 {
    display: block;
    height: auto;
    overflow: hidden;
}

.table.dashboard-block.breadcrumb-block > tbody > tr > td {
    border: none;
}

.table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-10 .form-inline {
    display: block;
    height: 40px;
}

.table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-10 .form-inline .form-group {
    display: inline-block;
    width: auto;
    height: 25px;
    float: right;
    margin-left: 20px;
    margin-bottom: 4px !important;
}

.table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-10 .form-inline [type="text"] {
    display: inline-block;
    float: left;
    height: 25px;
    padding: 3px 12px;
    border-radius: 0 10px 10px 0;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    margin: 0;
    font-size: 14px;
}

.table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-10 .form-inline select {
    display: inline-block;
    float: left;
    height: 25px;
    padding: 3px 12px;
    margin: 0;
    border-radius: 0;
}

.table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-10 ul {
    margin: 0;
    padding: 0;
}

.table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-10 ul li {
    float: left;
    margin-right: 30px;
    padding: 0 5px 0 2px;
}

.table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-10 ul li:hover {
    background: #eee;
}

.table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-10 ul li:first-child {
    display: block;
    width: 100%;
    color: #333;
}

.table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-10 ul li:first-child:hover {
    background: transparent;
}

.table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-10 ul li img {
    width: 30px;
    height: auto;
    background: transparent;
    border: none;
    border-radius: initial;
    vertical-align: middle;
}

.table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-10 ul li a {
    font-size: 12px;
}

.table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-10 ul li:hover a {
    color: #333;
}

.table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-10 ul li:first-child img {
    width: 0;
    height: 32px;
}

.table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-10 ul li:first-child strong {
    font-size: 18px;
    text-transform: uppercase;
}

.table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-10 ul li.container-rating {
    margin-top: 7px;
}

.table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-10 ul li.container-rating:hover {
    background: transparent;
}

.table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-2 {
    height: auto;
    overflow: visible;
    padding: 10px 0 0 0;
}

.table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-2 img {
    width: 180px;
    height: 90px;
    background: transparent;
    border: none;
    border-radius: initial;
}

.row-servise {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.row-servise .well {
    box-shadow: none;
}

.row-servise h3 {
    font-size: 24px;
    color: #333;
}

.row-servise .form-group {
    margin-bottom: 0;
}

.row-servise .form-group label {
    font-size: 14px;
    margin: 0;
    color: #269abc;
}

.row-servise .form-group label.error {
    display: block;
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

.row-servise .form-group input[type="text"], .row-servise .form-group textarea {
    font-size: 14px;
    border: 1px solid #269abc;
    margin: 6px 0;
}

.row-servise .form-group input[type="text"].description {
    height: 34px;
}

.row-servise .form-group select {
    font-size: 14px;
    border: 1px solid #269abc;
    border-radius: 2px;
    margin: 6px 0;
    padding-left: 5px;
}

.row-servise .form-group .input-group-btn:last-child > .btn {
    margin-left: -11px;
    border: 1px solid #269abc;
}

.row-servise .form-service {
    display: table;
    width: 98%;
}

.row-servise .form-group .btn-group-lg > .btn, .btn-lg {
    border-radius: 2px;
    margin-top: 10px;
}

.help-block {
    display: block;
    color: red;
    font-size: 12px;
}

.liste-servise {
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
}

.title-servise {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.single-pricing-box {
    border: 2px solid #D6DDD9;
    padding: 20px;
    text-align: center;
    -webkit-transition: .2s;
    transition: .2s;
}

.single-pricing-box:hover {
    border-color: #00aeef;
    box-shadow: 0 0 30px #f1f1f1;
}

.single-pricing-box h3 {
    background: #ddd none repeat scroll 0 0;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.pricing-icon {
    font-size: 60px;
    margin-bottom: 20px;
    -webkit-transition: .3s;
    transition: .3s;
}

.single-pricing-box:hover .pricing-icon {
    color: #00aeef;
}

.pricing-list {
    margin-bottom: 20px;
    text-align: left;
}

.pricing-list ul {
    line-height: 26px;
    list-style: outside none none;
    margin: 0;
    padding: 0 0 0 16px;
}

.pricing-list ul li {
    font-size: 15px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.pricing-list ul li:hover {
    padding-left: 5px;
}

.pricing-list ul li:before {
    font-family: fontAwesome;
    content: "\f00c";
    color: #00aeef;
    padding-right: 8px;
}

.pricing-list ul li.off:before {
    content: "\f00d";
    color: red;
}

.single-pricing-box h3.pricing-count {
    text-transform: none;
}

a.bordered-btn {
    border: 1px solid #ddd;
    color: #333;
    display: inline-block;
    padding: 5px 30px;
    border-radius: 50px;
    -webkit-transition: .3s;
    transition: .3s;
    font-size: 16px;
    text-decoration: none;
}

a.bordered-btn:hover {
    background: #00aeef;
    color: #fff;
    border-color: #00aeef;
}

.section-title h3 {
    font-size: 24px;
    color: #333;
    text-align: left;
    margin-bottom: 10px;
}

.row-commande {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row-commande h1 {
    font-size: 32px;
    font-weight: bold;
}

.liste-commande {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.table-bordered > thead > tr > th {
    border-bottom-width: 1px;
}

.row-commande .table-bordered {
    margin-top: 10px;
}

#collapseOne .error {
    padding-left: 15px;
    margin-top: 10px;
}

.row-entreprise .pull-right {
    width: auto;
}

.row-entreprise .list-inline > li {
    padding-right: 0;
    padding-left: 0;
    margin-left: 10px;
}

.row-entreprise .prev-step-hidden {
    visibility: hidden;
}

.row-entreprise .process-step .btn:focus {
    outline: none;
}

.row-entreprise .process {
    display: table;
    width: 100%;
    position: relative;
}

.row-entreprise .tab-content h3 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 0;
    color: #269abc;
}

.row-entreprise .tab-content h3 img {
    width: 35px;
    vertical-align: bottom;
}

.row-entreprise .process-row {
    display: table-row;
}

.row-entreprise .process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.row-entreprise .process-row:before {
    top: 40px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.row-entreprise .process-step {
    display: table-cell;
    position: relative;
}

.row-entreprise .process-step p {
    margin-top: 4px;
    text-align: center;
}

.row-entreprise .btn-circle {
    margin-top: 22px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
}

.row-entreprise .btn-circle span {
    font-size: 14px;
}

.row-entreprise label {
    font-size: 14px;
    margin: 0 0 10px 0;
    color: #269abc;
}

.row-entreprise label.error {
    display: block;
    color: red;
    font-size: 12px;
    margin-top: 10px;
}

.row-entreprise .form-group {
    margin-bottom: 8px;
    width: 100%;
}

.row-entreprise input[type="text"], .row-entreprise select, .row-entreprise textarea {
    margin: 0;
    padding: 6px 12px;
    background-color: #ddd;
    border: 1px solid #00aeef;
    border-radius: 4px;
    font-size: 14px;
}

.row-entreprise input[type="text"], .row-entreprise select optgroup {
    font-weight: normal;
    font-style: italic;
    color: #999;
}

.row-entreprise input[type="text"], .row-entreprise select optgroup option {
    font-style: normal;
    color: #555;
}

.row-entreprise .form-entreprise {
    margin-top: 10px;
    margin-bottom: 0;
}

.row-entreprise .form-entreprise img {
    width: 30px;
    height: auto;
    background: transparent;
    border: none;
    border-radius: initial;
    vertical-align: middle;
}

.row-social {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.row-contact {
    width: auto;
}

.row-news {
    width: 50%;
}

#alertForm .input-group input[type="text"] {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    margin: 0;
}

#alertForm .input-group label#email-error {
    display: none !important;
}

.row-news .news-title label {
    font-size: 16px;
    margin: 20px 0 10px 0;
    color: #00aeef;
}

.row-social a.text-warning {
    margin-left: 10px;
}

.row-social a.text-info {
    margin-left: 10px;
}

.row-social ul {
    list-style: square;
}

.row-social ul li {
    font-weight: bold;
    margin-bottom: 10px;
}

.row-social ul li:last-child {
    margin-bottom: 0;
}

.row-social ul li p {
    margin-bottom: 0;
}

.row-social .btn-default {
    display: table-row;
    border: none;
    margin-bottom: 12px;
    font-weight: bold;
}

.row-social .btn-default:hover, .row-social .btn-default:focus {
    border: none;
    background-color: #fff;
}

.row-social .fa-play:before {
    font-size: 12px;
    margin-right: 10px;
    color: #00aeef;
}

.row-social .form-group {
    margin: 0;
}

.row-social .form-group .col-md-10 {
    padding-right: 0;
    padding-left: 0;
}

.row-social .form-group .container-rating {
    margin-top: 16px;
    padding-right: 0;
    padding-left: 0;
}

.row-social .form-group textarea.form-control {
    margin-bottom: 0;
}

.row-social .radio {
    padding-left: 20px;
    display: inline-block;
    margin: 0;
}

.row-social .checkbox label {
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: bold;
}

.row-social .radio label {
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: bold;
}

.row-social label.error {
    margin-bottom: 0;
    margin-top: 10px;
}

.row-social .radio label:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.row-social .radio label.error:before {
    display: none;
}

.row-social .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.row-social .radio input[type="radio"] {
    opacity: 0;
}

.row-social .radio input[type="radio"]:focus + label:before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.row-social .radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.row-social .radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.row-social .radio input[type="radio"]:disabled + label:before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.row-social .radio-primary input[type="radio"] + label::after {
    background-color: #428bca;
    border-radius: 50%;
}

.row-social .radio-primary input[type="radio"]:checked + label:before {
    border-color: #00aeef;
    border-radius: 50%;
}

.row-social .radio-primary input[type="radio"]:checked + label::after {
    background-color: #00aeef;
    border-radius: 50%;
}

.dashboard-logo {
    width: 65%;
}

.has-feedback.ui-widget {
    margin-bottom: 0;
}

.has-feedback.ui-widget input[type="text"] {
    margin: 0;
}

.has-feedback.ui-widget #log, .row-entreprise .form-group #log {
    list-style: none;
    position: absolute;
    margin-top: 0px;
    width: 100%;
    max-height: 350px;
    z-index: 9999;
    border: none;
    background: #eee;
    overflow-y: auto;
}

.has-feedback.ui-widget #log li, .row-entreprise .form-group #log li {
    padding: 5px 0 5px 5px;
    text-align: left;
    text-transform: uppercase;
}

.block-recherche {
    margin-bottom: 15px;
}

.block-recherche img {
    background: #eee;
    border: 1px solid #ddd;
    vertical-align: top;
}

.block-recherche h3 {
    text-align: left;
    padding-left: 42px;
    color: #333;
    margin-bottom: 30px;
    font-size: 14px;
}

.block-recherche div {
    display: inline-block;
    padding-left: 10px;
}

.block-recherche p {
    margin: 0;
    padding: 0;
}

.block-recherche strong {
    text-transform: uppercase;
}

.block-recherche h3 .form-control-feedback {
    font-size: 26px;
    left: 16px;
    top: -8px;
    color: #00aeef;
}

.block-recherche td {
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.block-recherche tr:last-child td {
    border-bottom: none;
}

.block-recherche tr:last-child td .list-inline {
    padding: 0;
    margin: 0;
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 5px 0 0 0;
    width: 100% !important;
}

.files input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px solid #92b0b3;
}

.files {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url('../images/109612.png');
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.color input {
    background-color: #f1f1f1;
}

.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: '';
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.row-servise .form-group .files label {
    margin-bottom: 10px;
}

.row-servise .form-group .files label.error {
    display: block;
    color: red;
    font-size: 12px;
    margin-top: 10px;
}

#serviceForm .thumbnail {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}

#serviceForm .thumbnail img {
    width: 326px;
    height: 206px;
}

form input[type="text"], form input[type="text"]:focus {
    border-color: #00aeef;
}

.tab-pane .input-group .form-control {
    height: 34px;
}

.tab-pane .input-group-btn > .btn-add {
    margin-left: -29px;
    border: 1px solid #269abc;
    height: 34px;
}

.tab-pane .input-group-btn > .btn-remove {
    margin-left: -28px;
    border: 1px solid #269abc;
    height: 34px;
}

.container-header {
    margin-bottom: 20px;
}

.container-header .col-md-12 {
    padding: 0;
}

.container-header .table.dashboard-block.breadcrumb-block {
    margin-bottom: 0;
    margin-top: 0;
    background-color: #e1e2e3;
}

.container-header .table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-6 {
    display: block;
    height: auto;
    overflow: hidden;
}

.container-header .table.dashboard-block.breadcrumb-block > tbody > tr > td {
    border: none;
}

.container-header .table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-6 .form-inline {
    display: block;
}

.container-header .table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-6 .form-inline .form-group {
    display: inline-block;
    width: auto;
    height: 25px;
    width: 45%;
    float: right;
    margin-left: 20px;
    margin-bottom: 4px !important;
}

.container-header .table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-6 .form-inline [type="text"] {
    display: inline-block;
    float: left;
    height: 25px;
    width: 100%;
    padding: 3px 12px;
    border-radius: 0 10px 10px 0;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    margin: 0;
    font-size: 14px;
}

.container-header .table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-6 .form-inline select {
    display: inline-block;
    float: left;
    height: 25px;
    padding: 3px 12px;
    margin: 0;
    border-radius: 0;
}

/* carousel */
.media-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}

/* Previous button  */
.media-carousel .carousel-control.left {
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width: 40px;
    margin-top: 30px
}

/* Next button  */
.media-carousel .carousel-control.right {
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width: 40px;
    margin-top: 30px
}

/* Changes the position of the indicators */
.media-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li {
    background: #c0c0c0;
}

.media-carousel .carousel-indicators .active {
    background: #333333;
}

.media-carousel img {
    width: 100% !important;
    height: 100px !important;
}

/* End carousel */

.text-info {
    color: #00aeef;
}

.carousel-slide {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 25px;
}

.carousel-slide .carousel-control {
    width: 10%;
}

.alert {
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {

    .table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-10 .form-inline .form-group {
        width: 100%;
    }

    .table.dashboard-block.breadcrumb-block > tbody > tr > td > div.col-md-10 ul li:first-child {
        text-align: center;
    }

    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr {
        border: 1px solid #ccc;
    }

    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables td:before {
        content: attr(data-title);
    }

    .row-commande .table-bordered {
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }

    .row-servise {
        width: 550px;
    }

    .liste-servise {
        width: 90%;
    }

    .title-servise {
        width: 90%;
    }

    .row-commande {
        width: 90%;
    }

    .liste-commande {
        width: 90%;
    }

    .row-entreprise {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .dashboard-logo {
        width: 45%;
    }
}
